{% extends 'base.html' %}

{% block title%}
Accounts
{% endblock title %}

{% block content %}
<main>
    <h1>My Accounts</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts.all %}
            <tr>
                <th>{{account.name}}</th>
                <th>{{account.number}}</th>
                <th>{{account.receipts.all|length}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
