{% extends 'base.html' %}

{% block title%}
Categories
{% endblock title %}

{% block content %}
<main>
    <h1>My Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories.all %}
            <tr>
                <th>{{category.name}}</th>
                <th>{{category.receipts.all|length}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
